<!DOCTYPE HTML>
<html>
<head>
	<title>Eamonism</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body oncontextmenu="return false;">
	<!-- LANDING PAGE -->
	<div class="home-left">
		<div class="title">EAMONISM</div>
		<div class="dot"><img src="https://s3.amazonaws.com/eamonism/circle.png" /><img src="https://s3.amazonaws.com/eamonism/circle.png" /><img src="https://s3.amazonaws.com/eamonism/circle.png" /></div>
	</div>
	<div id="cf3">
	  <img class="bottom" src="https://s3.amazonaws.com/eamonism/colorbird.png" />
	  <img class="top" id="bird" src="https://s3.amazonaws.com/eamonism/bwbird.png" />
	</div>


	<!-- PORTFOLIO -->
	<!-- 35 -->
	<hr>
	<div class="section-header">PORTFOLIO</div>
	<hr>
	

	<div class="wrap" id="wrap">

	<div class="box" onclick='startLightBox(event)'>

        	                                <div class="boxInner">
                                    				<img id="44" src="https://eamonism.s3.amazonaws.com/Jellyfish-II----compressed.png" />
                                    			</div>
                                    		</div>


	<div class="box" onclick='startLightBox(event)'>

    	                                <div class="boxInner">
                                				<img id="43" src="https://eamonism.s3.amazonaws.com/Jellyfish-Square---Compressed-v2.png" />
                                			</div>
                                		</div>

	<div class="box" onclick='startLightBox(event)'>



                        			<div class="boxInner">
                        				<img id="42" src="https://eamonism.s3.amazonaws.com/House-of-Timur----Thumbnail.png" />
                        			</div>
                        		</div>

	<div class="box" onclick='startLightBox(event)'>
                    			<div class="boxInner">
                    				<img id="41" src="https://eamonism.s3.amazonaws.com/Clarity-Thumbnail-compressed.png" />
                    			</div>
                    		</div>

	<div class="box" onclick='startLightBox(event)'>
                			<div class="boxInner">
                				<img id="40" src="https://eamonism.s3.amazonaws.com/Death-of-the-Minotaur---Flattened-on-White.png" />
                			</div>
                		</div>

	 <div class="box" onclick='startLightBox(event)'>
            			<div class="boxInner">
            				<img id="39" src="https://eamonism.s3.amazonaws.com/Cradle-of-Civilization-II----compressed-for-site.png" />
            			</div>
            		</div>

	    <div class="box" onclick='startLightBox(event)'>
        			<div class="boxInner">
        				<img id="38" src="https://eamonism.s3.amazonaws.com/Cradle-of-Civilization---draft-compressed.png" />
        			</div>
        		</div>

	    <div class="box" onclick='startLightBox(event)'>
    			<div class="boxInner">
    				<img id="37" src="https://eamonism.s3.amazonaws.com/Benediction--12x12--compressed.png" />
    			</div>
    		</div>

		<div class="box" onclick='startLightBox(event)'>
			<div class="boxInner">
				<img id="36" src="https://eamonism.s3.amazonaws.com/Creation-Myth---compressed-for-site.png" />
			</div>
		</div>

		<div class="box" onclick='startLightBox(event)'>
			<div class="boxInner">
				<img id="35" src="https://eamonism.s3.amazonaws.com/Crab-and-Chair---thumbnail-crop-for-site.png" />
			</div>
		</div>

		<div class="box" onclick='startLightBox(event)'>
			<div class="boxInner">
				<img id="33" src="https://eamonism.s3.amazonaws.com/Oasis---final---website-thumbnail.png" />
			</div>
		</div>

		<div class="box" onclick='startLightBox(event)'>
			<div class="boxInner">
				<img id="34" src="https://eamonism.s3.amazonaws.com/Crocodile-Pistol-Metamorphosis----website-thumbnail.png" />
			</div>
		</div>

		<div class="box" onclick='startLightBox(event)'>
			<div class="boxInner">
				<img id="32" src="https://eamonism.s3.amazonaws.com/Portrait-of-Infatuation-II---thumbnail.png" />
			</div>
		</div>

		<div class="box" onclick='startLightBox(event)'>
			<div class="boxInner">
				<img id="31" src="https://eamonism.s3.amazonaws.com/Portrait-of-Infatuation----thumbnail.png" />
			</div>
		</div>

	    <div class="box" onclick='startLightBox(event)'>
            <div class="boxInner">
                <img id="30" src="https://eamonism.s3.amazonaws.com/Fish-Metamorphosis-thumb.jpg" />
            </div>
        </div>

		 <div class="box" onclick='startLightBox(event)'>
        	    	<div class="boxInner">
        	      		<img id="29" src="https://eamonism.s3.amazonaws.com/bird2whistleThumb.jpg" />
        	    	</div>
        	  	</div>

        	  	 <div class="box" onclick='startLightBox(event)'>
        	    	<div class="boxInner">
        	      		<img id="27" src="https://eamonism.s3.amazonaws.com/pomThumb.jpg" />
        	    	</div>
        	  	</div>


        	  	 <div class="box" onclick='startLightBox(event)'>
        	    	<div class="boxInner">
        	      		<img id="28" src="https://eamonism.s3.amazonaws.com/At-The-Gates-of-Paradise-II----11x15----Compressed-for-site.jpg" />
        	    	</div>
        	  	</div>
	   

        	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="25" src="https://eamonism.s3.amazonaws.com/At-The-Gates-of-Paradise--10.5x13.5----Compressed-for-Site.jpg" />
	    	</div>
	  	</div>
		<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="26" src="https://eamonism.s3.amazonaws.com/Minotaur-in-the-Labyrinth--compressed-for-site.jpg" />
	    	</div>
	  	</div>
		
		<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="0" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/Vision-of-a-Dying-Crab----compressed-for-site-6-4-19.jpg" />
	    	</div>
	  	</div>
		<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="1" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/Vision-of-a-Dying-Crab-II----compressed-for-site-6-4-19.jpg" />
	    	</div>
	  	</div>
	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="2" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/crab-drawing----IG-version----8.5x5-6-16-19.jpg" />
	    	</div>
	  	</div>
	
	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="3" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/The-Botany-Cipher-compressed-for-site-6-4-19.jpg" />
	    	</div>
	  	</div>
	  	
		<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="4" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/Capragraph-ii---compressed-for-site-6-4-19.jpg" />
	    	</div>
	  	</div>

		<div class="box" >
	    	<div class="boxInner">
	      		<img id="5" onclick='startLightBox(event)' src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/The-Hunters-redux----filled-in-side-margins----sized-10.5x13----compressed.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="6" src="https://s3.amazonaws.com/eamonism/CapragraphThumb.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="7" src="https://s3.amazonaws.com/eamonism/Augury.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="8" src="https://s3.amazonaws.com/eamonism/Castilla.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="9" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/Mind's-Eyedrops-2nd-edition----8.5x11----compressed.jpg" />
	    	</div>
	  	</div>
	  	
	  	

	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="10" src="https://s3.amazonaws.com/eamonism/port11.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="11" src="https://s3.amazonaws.com/eamonism/RodentiaThumb.png" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="12" src="https://s3.amazonaws.com/eamonism/DoQMThumb.png" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="13" src="https://s3.amazonaws.com/eamonism/Psyght.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="14" src="
	  	https://s3.amazonaws.com/eamonism/Ornithograph.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="15" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/Font-of-Eschaton-compressed-for-site-6-4-19.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="16" src="
	  	https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/Ichthyograph-compressed-for-site-6-4-19.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="17" src="https://s3.amazonaws.com/eamonism/port10.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="18" src="https://s3.amazonaws.com/eamonism/GranadasThumb.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="19" src="https://eamonism.s3.amazonaws.com/Images+for+site+6-4-19/Illuminette-compressed-for-site-6-4-19.jpg" />
	    	</div>
	  	</div>
	  	<div class="box" onclick='startLightBox(event)'>
	    	<div class="boxInner">
	      		<img id="20" src="https://s3.amazonaws.com/eamonism/Prospero.jpg" />
	    	</div>
	  	</div>
	  	
	  	
	</div>

  	<div id="myModal" class="modal">
		<span class="close">×</span>
		<div class="wrapModalImg">
			<div id="caption"></div>
			<form class="purchase" action="/welcome" method="post" accept-charset="utf-8">
				<input type="hidden" name="item_name" id="item_name" value="">
                 <button class="purchase-btn" type="submit" value=""></button>
				<div id="price_container"><span id="price"></span><span id="sale_price" style="display: none;"></span><span id="price_caption"></span></div>

				<input type="hidden" name="price_input" id="price_input" value="">
				<input name="discount_code" id="discount_code" value="" placeholder="Coupon Code">
			</form>

			
			
			
			
			<img class="modal-content" id="img" />
		</div>
	</div>

	<div id="myStickerModal" class="modal">
		<span class="close">×</span>
		<div class="wrapModalImg">
			<div id="caption"></div>
			<form class="purchase" action="/welcome" method="post" accept-charset="utf-8">
				<input type="hidden" name="item_name" id="item_name" value="">
				<button class="purchase-btn" type="submit" value=""></button>
				<span id="price">$15</span>
				<input type="text" name="discount_code" id="discount_code" value="" placeholder="Coupon Code">
			</form>

			
			
			
			
			<img class="modal-content" id="img" />
		</div>
	</div>
	<!-- /#wrap -->


	<!-- sticker section -->
	<hr>
	<div class="section-header">STICKERS</div>
	<hr>
	<h1 class="sizes">Large</h1>
	<hr>
		<div class="wrap" id="wrap" style="margin: auto;">
			
			
			
        <div class="boxS" onclick='startLightBox(event)'>

            <div class="boxInner">
                <img id="21"  src=<%= @birdTitle %> />
            </div>

        </div>
	  		
	  		
        <div class="boxS" onclick='startLightBox(event)'>
            <div class="boxInner">
                <img id="22" src="https://s3.amazonaws.com/eamonism/fishThumb.jpg" />
            </div>
        </div>
        <hr>
        <h1 class="sizes">Small</h1>
        <hr>

        <div class="boxXS" onclick='startLightBox(event)' style="padding-bottom: 15%; margin-top: 40px;">
            <div class="boxInner">
                <img id="23" style="width:50%; height:50%;" src=<%= @birdTitle %> />
            </div>
        </div>

        <div class="boxXS" onclick='startLightBox(event)' style="padding-bottom: 11%; padding-top: 4%">
            <div class="boxInner">
                <img id="24" src="https://s3.amazonaws.com/eamonism/fishThumb.jpg" style="width:50%; height:50%;"/>
            </div>
        </div>



        <div class="boxXS" onclick='startLightBox(event)' style="padding-bottom: 15%; margin-top: 50px;">
            <div class="boxInner">
                <img id="42" src="https://eamonism.s3.amazonaws.com/Tri-Hard+Sticker+Image.png" style="width:50%; height:50%;"/>
            </div>
        </div>

        <div class="boxXS" onclick='startLightBox(event)' style="padding-bottom: 20%">
                    <div class="boxInner">
                        <img id="41" style="width:50%; height:50%;" src="https://eamonism.s3.amazonaws.com/Capragraph+Sticker.png" />
                    </div>
                </div>


    </div>

	
	<!-- ARTIST BIO -->
	<hr>
	<div class="section-header">ARTIST BIO</div>
	<hr>

	<div class="eamon"><img src="https://s3.amazonaws.com/eamonism/eamonpic.jpg" /></div>
	<div class="fname">EAMON</div>
	<div class="lname">MURPHY</div>
	<div class="bio"> Eamon Murphy is an artist currently living and working in Fairfield county CT. <br><br>
	Eamon’s creations —posters, prints, stickers, and more— utilize a combination of pen-and-pencil draftsmanship and a tasteful dash of digital media. These original works draw upon history, philosophy, and deep-dives into the imagination. Classical, Surrealist, or something else completely, these works present windows into other worlds, and invite viewers to draw their own interpretations. <br><br>
	Beyond this, Eamon uses his graphic design and Photoshop skills to fulfill custom print requests as well as to enhance and alter photos on commission, transforming real-world images and memories into custom-made works of art.
	<br><br>
	We invite you to join us as we continue this journey. Please, have a look around.
	<br><br>
	For inquiries about commissions, custom projects, or our selection of original prints and stickers, please email
	<a href="mailto:eamonmurphy928@gmail.com" style="color: blue;">eamonmurphy928@gmail.com</a><br>
	</div>

	<!-- CONTACT -->
	<hr>    
	<div class="section-header">CONTACT</div>
	<hr>
	<div class="contact-details">If you'd like to purchase any of the prints listed please click on the "Purchase" button after opening the full sized image</div>
	<img src="https://s3.amazonaws.com/eamonism/email.png" id="logo" /><div class="email"><a href="mailto:eamonmurphy928@gmail.com">eamonmurphy928@gmail.com</a></div><br>
	<img src="https://s3.amazonaws.com/eamonism/phone.png" id="logo" /><div class="phone">203.249.7684</div>
	<br>
	<a href="https://www.instagram.com/eamonmurphyart/"><img src="https://s3.amazonaws.com/eamonism/insta.png" id="logo" height="50" width="50"/></a><div class="insta"><a href="https://www.instagram.com/eamonmurphyart/" style="text-decoration: none; text-color: black;">@eamonmurphyart</a></div>
	<div class="footer"><a href="http://www.jubil.co/">Jubil Co.</a></div>

</body>
</html>
